<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v={{ range(1, 10000) | random }}">
    {% block head %}
        <title>{% block title %}Your title here{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block menu %}
<div class="d-flex header">
    <div class="p-2">
        <a href="{{ url_for('main.index') }}">
            <img
                    src="{{ url_for('static', filename='img/logo.png') }}"
                    width="60"
                    height="60"
                    alt="Logo">
        </a>
    </div>
    <div class="me-auto p-2 align-self-center">
        <a href="{{ url_for('main.index') }}">{{ config.APP_NAME }}</a>
    </div>
    {% if g.user and g.user.email %}
    <div class="p-2 align-self-center">
      <a href="{{ url_for('auth.account') }}">Account</a>
    </div>
    <div class="p-2 align-self-center">
      <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>
    {% else %}
    <div class="p-2 align-self-center">
      <a href="{{ url_for('auth.login') }}">Login</a>
    </div>
    <div class="p-2 align-self-center">
      <a href="{{ url_for('auth.signup') }}">Register to save your data</a>
    </div>
    {% endif %}
</div>
{% endblock %}
<div id="messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>