{% extends "auth/base.html" %}
{% block title %}Account{% endblock %}
{% block content %}

<h1>Account</h1>
<ul class="nav nav-tabs" id="accountTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link {% if active_tab == 'account-tab-pane' %}active{% endif %}" id="account-tab" href="{{ url_for('auth.account', tab='account-tab-pane') }}" role="tab" aria-controls="account-tab-pane" aria-selected="{% if active_tab == 'account-tab-pane' %}true{% else %}false{% endif %}">Profile</a>
  </li>
{% for account in g.user.account_set %}
  <li class="nav-item" role="presentation">
    <a class="nav-link {% if active_tab == 'account-' + account.id|string + '-tab-pane' %}active{% endif %}" id="account-{{ account.id }}-tab" href="{{ url_for('auth.account', tab='account-' + account.id|string + '-tab-pane') }}" role="tab" aria-controls="account-{{ account.id }}-tab-pane" aria-selected="{% if active_tab == 'account-' + account.id|string + '-tab-pane' %}true{% else %}false{% endif %}">{{ account.name }}</a>
  </li>
{% endfor %}
  <li class="nav-item" role="presentation">
    <a class="nav-link {% if active_tab == 'new-account-tab-pane' %}active{% endif %}" id="new-account-tab" href="{{ url_for('auth.account', tab='new-account-tab-pane') }}" role="tab" aria-controls="new-account-tab-pane" aria-selected="{% if active_tab == 'new-account-tab-pane' %}true{% else %}false{% endif %}">+ New Account</a>
  </li>
</ul>

<div class="tab-content" id="accountTabContent">
    <div class="tab-pane fade {% if active_tab == 'account-tab-pane' %}show active{% endif %}" id="account-tab-pane" role="tabpanel" aria-labelledby="account-tab" tabindex="0">
        <div class="my-5">
            <h2>Personal information</h2>
            <form action="{{ url_for('auth.user_update') }}" method="POST">
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="user_email">E-mail</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="user_email" name="email" placeholder="name@example.com" type="text"
                               value="{{ g.user.email }}">
                    </div>
                </div>
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="user_name">Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="user_name" name="name" placeholder="Jane Smith" type="text"
                           value="{{ g.user.name }}">
                    </div>
                </div>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
        <div class="my-5">
            <h2>Change password</h2>
            <form action="{{ url_for('auth.user_update_password') }}" method="POST">
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="old_password">Old Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="old_password" name="old_password" type="password" value="{{ old_password }}">
                    </div>
                </div>
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="new_password">New password</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="new_password" name="new_password" type="password" value="{{ new_password }}">
                    </div>
                </div>
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="new_password2">Repeat new password</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="new_password2" name="new_password2" type="password" value="{{ new_password2 }}">
                    </div>
                </div>
                <button class="btn btn-primary">Change password</button>
            </form>
        </div>
        <div class="my-5">
            <h2>Delete user</h2>
            <form action="{{ url_for('auth.user_delete') }}" method="POST">
                <button class="btn btn-danger">Delete my user personal account</button>
            </form>
        </div>
    </div>
    {% for account in g.user.account_set %}
    <div class="tab-pane fade {% if active_tab == 'account-' + account.id|string + '-tab-pane' %}show active{% endif %}" id="account-{{ account.id }}-tab-pane" role="tabpanel" aria-labelledby="account-{{ account.id }}-tab" tabindex="0">
        <div class="my-5">
            <h2>Account information</h2>
            <p>You have <b>{{ account.role(g.user.id) }}</b> access to this account.</p>
            {% if account.role(g.user.id) == "admin" %}
            <form action="{{ url_for('auth.account_update', account_id=account.id) }}" method="POST">
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="account_name_{{ account.id }}">Company name</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="account_name_{{ account.id }}" name="name" type="text" value="{{ account.name }}">
                    </div>
                </div>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
        <div class="my-5">
            <h2>Account roles</h2>
            <table class="table responsive-table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user_account in account.user_account_set %}
                    <tr>
                            <td class="align-middle" data-label="Username">{{ user_account.user.name}}</td>
                            <td class="align-middle" data-label="E-mail">{{ user_account.user.email }}</td>
                            <td class="align-middle" data-label="Role">
                                <form action="{{ url_for('auth.user_account_update', user_account_id=user_account.id) }}" method="POST" class="d-flex align-items-center gap-2">
                                    <div>
                                        {% for role in user_account.role_choices %}
                                        <label class="form-label me-2 mb-0" for="role_{{ user_account.id }}_{{ role }}">
                                            <input id="role_{{ user_account.id }}_{{ role }}" name="role" type="radio" value="{{ role }}" {% if user_account.role == role %}checked{% endif %}>
                                            {{ role.title() }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                    <button class="btn btn-sm btn-primary">Save</button>
                                </form>
                            </td>
                            <td class="align-middle" data-label="Actions">
                                <form action="{{ url_for('auth.user_account_delete', user_account_id=user_account.id) }}" method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="my-5">
            <h2>Invite user to join this account</h2>
            <form action="{{ url_for('auth.account_invite', account_id=account.id) }}" method="POST">
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="invite_user_email_{{ account.id }}">User email</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="invite_user_email_{{ account.id }}" name="email" type="text" placeholder="name@example.com">
                    </div>
                </div>
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label">Role</label>
                    <div class="col-sm-10">
                        {% for role in account.role_choices %}
                        <label class="form-label me-3" for="invite_{{ role }}_account_{{ account.id }}">
                            <input class="form-check-input" id="invite_{{ role }}_account_{{ account.id }}" name="role" type="radio" value="{{ role }}" {% if role == "user" %}checked{% endif %}>
                            {{ role.title() }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                <button class="btn btn-primary">Send invite email</button>
            </form>
        </div>
        <div class="my-5">
            <h2>Invitations</h2>
            {% if account.invitation_set %}
            <table class="table responsive-table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Sent</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invitation in account.invitation_set %}
                    <tr>
                        <td data-label="Email">{{ invitation.email }}</td>
                        <td data-label="Role">{{ invitation.role.title() }}</td>
                        <td data-label="Status">{{ invitation.status.title() }}</td>
                        <td data-label="Sent">{{ invitation.created }}</td>
                        <td data-label="Action">
                            <form action="{{ url_for('auth.invitation_delete', invitation_id=invitation.id) }}" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>No invitation sent yet.</div>
            {% endif %}
        </div>
        <div class="my-5">
            <h2>Delete account</h2>
            <form action="{{ url_for('auth.account_delete', account_id=account.id) }}" method="POST">
                <button class="btn btn-danger">Delete company account</button>
            </form>
            {% else %}
            <p>
                You don't have permission to administrate this account.
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="tab-pane fade {% if active_tab == 'new-account-tab-pane' %}show active{% endif %}" id="new-account-tab-pane" role="tabpanel" aria-labelledby="new-account-tab" tabindex="0">
        <div class="my-5">
            <h2>Create a new company account</h2>
            <form action="{{ url_for('auth.account_create') }}" method="POST">
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="create_account_name">Company name</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="create_account_name" name="name" type="text" placeholder="World Company">
                    </div>
                </div>
                <button class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
