{% extends "auth/base.html" %}
{% block title %}Account{% endblock %}
{% block content %}

<h1>Account</h1>
<ul class="nav nav-tabs" id="accountTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="account-tab" data-bs-toggle="tab" data-bs-target="#account-tab-pane" type="button" role="tab" aria-controls="account-tab-pane" aria-selected="true">Profile</button>
  </li>
{% for account in g.user.account_set %}
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="account-{{ account.id }}-tab" data-bs-toggle="tab" data-bs-target="#account-{{ account.id }}-tab-pane" type="button" role="tab" aria-controls="accpount-{{ account.id }}-tab-pane" aria-selected="false">{{ account.name }}</button>
  </li>
{% endfor %}
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="new-account-tab" data-bs-toggle="tab" data-bs-target="#new-account-tab-pane" type="button" role="tab" aria-controls="new-account-tab-pane" aria-selected="false">+ New Account</button>
  </li>
</ul>

<div class="tab-content" id="accountTabContent">
    <div class="tab-pane fade show active" id="account-tab-pane" role="tabpanel" aria-labelledby="account-tab" tabindex="0">
        <div class="my-5">
            <h2>Personal information</h2>
            <form action="{{ url_for('auth.user_update') }}" method="POST">
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="user_email">E-mail</label>
                    <div class="col-sm-10">
                        <input class="form-input" id="user_email" name="email" placeholder="name@example.com" type="text"
                               value="{{ g.user.email }}">
                    </div>
                </div>
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="user_name">Name</label>
                    <div class="col-sm-10">
                        <input class="form-input" id="user_name" name="name" placeholder="Jane Smith" type="text"
                           value="{{ g.user.name }}">
                    </div>
                </div>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
        <div class="my-5">
            <h2>Change password</h2>
            <form action="{{ url_for('auth.user_update_password') }}" method="POST">
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="old_password">Old Password</label>
                    <div class="col-sm-10">
                        <input class="form-input" id="old_password" name="old_password" type="password" value="{{ old_password }}">
                    </div>
                </div>
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="new_password">New password</label>
                    <div class="col-sm-10">
                        <input class="form-input" id="new_password" name="new_password" type="password" value="{{ new_password }}">
                    </div>
                </div>
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="new_password2">Repeat new password</label>
                    <div class="col-sm-10">
                        <input class="form-input" id="new_password2" name="new_password2" type="password" value="{{ new_password2 }}">
                    </div>
                </div>
                <button class="btn btn-primary">Change password</button>
            </form>
        </div>
        <div class="my-5">
            <h2>Delete user</h2>
            <form action="{{ url_for('auth.user_delete') }}" method="POST">
                <button class="btn btn-danger">Delete my user personal account</button>
            </form>
        </div>
    </div>
    {% for account in g.user.account_set %}
    <div class="tab-pane fade" id="account-{{ account.id }}-tab-pane" role="tabpanel" aria-labelledby="account-{{ account.id }}-tab" tabindex="0">
        <div class="my-5">
            <h2>Account information</h2>
            <p>You have <b>{{ account.role(g.user.id) }}</b> access to this account.</p>
            {% if account.role(g.user.id) == "admin" %}
            <form action="{{ url_for('auth.account_update', account_id=account.id) }}" method="POST">
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="account_name_{{ account.id }}">Company name</label>
                    <div class="col-sm-10">
                        <input class="form-input" id="account_name_{{ account.id }}" name="name" type="text" value="{{ account.name }}">
                    </div>
                </div>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
        <div class="my-5">
            <h2>Account roles</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user_account in account.user_account_set %}
                    <tr>
                            <td class="align-middle">{{ user_account.user.name}}</td>
                            <td class="align-middle">{{ user_account.user.email }}</td>
                            <td class="align-middle">
                                <form action="{{ url_for('auth.user_account_update', user_account_id=user_account.id) }}" method="POST">
                                    <div class="row">
                                        <div class="col-5">
                                            {% for role in user_account.role_choices %}
                                            <label class="form-label" for="role_{{ user_account.id }}">{{ role.title() }}</label>
                                            <input class="form-input" id="role_{{ user_account.id }}" name="role" type="radio" value="{{ role }}" {% if user_account.role == role %}checked{% endif %}>
                                            <br/>
                                            {% endfor %}
                                        </div>
                                        <div class="col-3 d-flex align-items-center">
                                            <button class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td class="align-middle">
                                <form action="{{ url_for('auth.user_account_delete', user_account_id=user_account.id) }}" method="POST">
                                    <div class="row">
                                        <button class="btn btn-danger">Delete</button>
                                    </div>
                                </form>
                            </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="my-5">
            <h2>Invite user to join this account</h2>
            <form action="{{ url_for('auth.account_invite', account_id=account.id) }}" method="POST">
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="invite_user_email_{{ account.id }}">User email</label>
                    <div class="col-sm-10">
                        <input class="form-input" id="invite_user_email_{{ account.id }}" name="email" type="text" placeholder="name@example.com">
                    </div>
                    <div class="my-3 row">
                        {% for role in account.role_choices %}
                        <label class="form-label col-sm-2 col-form-label" for="invite_{{ role }}_account_{{ account.id }}">{{ role.title() }}</label>
                        <div class="col-sm-10">
                            <input class="form-input" id="invite_{{ role }}_account_{{ account.id }}" name="role" type="radio" value="{{ role }}" {% if role == "user" %}checked{% endif %}>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button class="btn btn-primary">Send invite email</button>
            </form>
        </div>
        <div class="my-5">
            <h2>Invitations</h2>
            {% if account.invitation_set %}
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Sent</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invitation in account.invitation_set %}
                    <tr>
                        <td>{{ invitation.email }}</td>
                        <td>{{ invitation.role.title() }}</td>
                        <td>{{ invitation.status.title() }}</td>
                        <td>{{ invitation.created }}</td>
                        <td>
                            <form action="{{ url_for('auth.invitation_delete', invitation_id=invitation.id) }}" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>No invitation sent yet.</div>
            {% endif %}
        </div>
        <div class="my-5">
            <h2>Delete account</h2>
            <form action="{{ url_for('auth.account_delete', account_id=account.id) }}" method="POST">
                <button class="btn btn-danger">Delete company account</button>
            </form>
            {% else %}
            <p>
                You don't have permission to administrate this account.
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="tab-pane fade" id="new-account-tab-pane" role="tabpanel" aria-labelledby="new-account-tab" tabindex="0">
        <div class="my-5">
            <h2>Create a new company account</h2>
            <form action="{{ url_for('auth.account_create') }}" method="POST">
                <div class="my-3 row">
                    <label class="form-label col-sm-2 col-form-label" for="create_account_name">Company name</label>
                    <div class="col-sm-10">
                        <input class="form-input" id="create_account_name" name="name" type="text" placeholder="World Company">
                    </div>
                </div>
                <button class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
