{% extends 'auth/base.html' %}

{% block title %}Forgotten Password{% endblock %}

{% block content %}
    <h1>Forgotten Password</h1>
    <p>Please enter your email address below and we'll send you a link to reset your password.</p>
    <form action="{{ url_for('auth.forgotten_password') }}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <p><input type="submit" value="Reset Password"></p>
    </form>
{% endblock %}