<html lang="en">
    <body>
        <h1>Password reset</h1>
        <p>
            You have requested a password reset for your account on <a href="{{ url_for('main.index', _external=True) }}">{{ app_name }}</a>.
        </p>
        <p>
            Please click on the following link to reset your password:
            <a href="{{ url_for('auth.reset_password', secret=secret, _external=True) }}">
                {{ url_for('auth.reset_password', secret=secret, _external=True) }}
            </a>
        </p>
        <p>
            This request will expire in 2 hours. If you didn't request a password reset, please ignore this email.
        </p>
        <p>
            Best regards,
            <br/>
            The {{ app_name }} team
        </p>
    </body>
</html>