{% extends "auth/base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<h1>Reset your password</h1>
<p>Please enter your new password:</p>
<div>
    <form action="" method="POST">
        <input type="hidden" name="secret" value="{{ session.secret }}">
        <div class="form-group">
            <label for="password">New password</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password2">Confirm new password</label>
            <input type="password" name="password2" id="password2" class="form-control" required>
        </div>
        <br/>
        <button class="btn btn-default">Reset my password and log me in</button>
    </form>
</div>
{% endblock %}