{% extends "auth/base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
    <h1>Sign up</h1>
    <form action="" method="POST">
        {% if invitation_secret %}
        <input type="hidden" name="invitation_secret" value="{{ invitation_secret }}">
        {% endif %}
        <div class="mb-3">
            <label class="form-label" for="email">E-mail</label>
            <input class="form-control" type="text" name="email" id="email" placeholder="name@example.com" value="{{ email }}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Jane Smith" value="{{ name }}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" value="{{ password }}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password2">Repeat password</label>
            <input class="form-control" type="password" name="password2" id="password2" value="{{ password2 }}">
        </div>
        <button class="btn btn-primary">Sign up</button>
    </form>
    <p>Already a member? <a href="/login">Log in!</a></p>
{% endblock %}